asgiref==3.5.2
Django==4.0.4
Pillow==9.1.1
sqlparse==0.4.2
tzdata==2022.1

# Django #
*.log
*.pot
*.pyc

media

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/ # PyCharm settings
.vscode/ # VSCode settings

# JavaScript
node_modules/
build/ # Webpack build output