* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header 1 */

h1 {
    color: white;
    text-align: center;
    font-size: 300%;
    text-shadow: 0 0 3px black;
}


/* Overal Body For Html */

body {
    font-family: 'Montserrat Bold', sans-serif;
}


/* everything in the html files */

html {
    background: url("Images/Fire.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;
        /* 50% */
    }
}


/* Nav Section */

.Nav {
    background-color: blueviolet;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
    width: 120px;
    text-decoration: none;
    justify-content: center;
}

.Nav:hover {
    background-color: f0f0f0;
}

#NavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8px;
    height: 80px;
}

#NavContainer,
#FlexBodyContainer {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(64, 226, 43);
}

#NavContainer {
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 43, 171);
}

.Logo {
    height: 24px;
    background-color: brown;
}


/* Anchor Element */

a {
    text-decoration: none;
}


/* StartButton in Index.Html */

#StartButton {
    justify-content: center;
    display: flex;
    padding-top: 10px;
}


/* Button Css */

Button {
    display: flex;
    justify-content: space-between;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid black;
}


/* ABOUT CSS SECTION */

.about {
    justify-content: space-between;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
}

.SecondaryContainerPadding {
    background-color: rgb(184, 168, 200);
    padding: 10px;
}


/* for all the titles located in about.html & about2.html */

.Title {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}


/* LOGIN CSS SECTION */

.BodyContainer {
    justify-content: center;
    border: 1px solid black;
    padding: 20px 5px;
    margin: 30px 20px;
    border-radius: 5px;
    background-color: rgb(226, 177, 43);
    /*background-color: green;*/
}

.ContainerPadding {
    padding: 30px;
    max-width: 1200px;
    margin: auto;
    background-color: aquamarine;
    justify-content: space-between;
    display: flex;
}


/* for the login input*/

.Form {
    display: flex;
    border: 1px solid black;
    background-color: aqua;
    padding: 10px 20px;
}

.LabelNames {
    padding-right: 20px;
}

input {
    transform: scale(1.2);
}

#loginContainer {
    display: table-column;
    justify-content: center;
}

#LoginButton {
    justify-content: flex-star;
    display: flex;
    padding-top: 10px;
    border-radius: 5px;
}