<!--Olivias Code -->
 <!DOCTYPE html>
 {% load static %}
 <html>
 <head>
     <!-- Required meta tags -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- CSS only -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

     <!-- bootstrap css -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <title>GameMatcher Quiz</title>
     {% block title %}
    {{obj.name}}

     <link rel="stylesheet" href="{% static 'quiz/css/stylesheet.css' %}">
     {% block scripts %}
     <script src="{% static 'quiz/js/quiz.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
         <script src="https://kit.fontawesome.com/512b61f13b.js" crossorigin="anonymous"></script>
     {% endblock scripts %}
 </head>
 <body>

     <!-- Nav Container -->

  <div id="NavContainer">
    <div id="NavBar">
        <a class="Nav" href="{% url 'quizzes:game-view' %}">Games</a>
        <a class="Nav" href="{% url 'quizzes:quizpage-view' %}">Quiz</a>
        <a class="FlexContainers" href="{% url 'quizzes:mainmenu-view' %}">
            <img class="Logo2" alt="GameMatcher logo" src="quiz/static/Images/Game.png">
        </a>
        <a class="Nav" href="{% url 'quizzes:about-view' %}">About Us</a>
        <a class="Nav" href="{% url 'quizzes:profile-view' %}">Profile</a>
