* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Bold', sans-serif;
    background-image: url("Images/Anime.jpg");
}

img {
    object-fit: fill;
}

.Nav {
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
    width: 120px;
    text-decoration: none;
    justify-content: center;
}

.Nav:hover {
    background-color: f0f0f0;
}

#NavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8px;
    height: 80px;
}

#NavContainer,
#FlexBodyContainer {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
}

#NavContainer {
    justify-content: space-between;
    align-items: center;
}

.Logo {
    height: 24px;
}

a {
    text-decoration: none;
}

.Button {
    justify-content: center;
    display: flex;
}

Button {
    justify-content: space-between;
    border-radius: 4px;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid black;
}


/* LOGIN CSS SECTION */

.BodyContainer {
    justify-content: center;
    border: 1px solid black;
    padding: 20px 5px;
    margin: 30px 20px;
    border-radius: 5px;
    background-color: green;
}

.ContainerPadding {
    padding: 30px;
    max-width: 1200px;
    margin: auto;
    background-color: aquamarine;
}

Form {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    background-color: aqua;
    padding: 5px 20px;
}