<!DOCTYPE html>
<html>
  <head>
    <title>GameMatcherAbout</title>
    <!-- CSS only -->
    <script
      src="https://kit.fontawesome.com/512b61f13b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="stylesheet.css" />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="FlexBodyContainer">
      <div id="NavContainer">
        <div id="NavBar">
          <a class="Nav">Games</a>
          <a class="Nav">Test</a>
          <div class="LogoName">
            <h1 class="Logo"><a href="Index.html">GameMatcher</a></h1>
          </div>
          <a class="Nav" href="About.html">About Us</a>
          <a class="Nav" href="Login.html">Login/SignUp</a>
        </div>
      </div>
    </div>
    <div class="Title">
      <h1 class="about">Who We Are And What We Do</h1>
    </div>
    <div class="BodyContainer">
      <div class="ContainerPadding">
        <a
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc
          pulvinar sapien et ligula ullamcorper malesuada proin libero.
          Malesuada pellentesque elit eget gravida cum sociis natoque penatibus
          et. Eleifend quam adipiscing vitae proin sagittis nisl. Penatibus et
          magnis dis parturient montes. Et ligula ullamcorper malesuada proin
          libero nunc consequat interdum varius. Elementum integer enim neque
          volutpat ac tincidunt. Neque viverra justo nec ultrices dui. Urna
          cursus eget nunc scelerisque viverra. Elit ut aliquam purus sit amet
          luctus. Interdum posuere lorem ipsum dolor sit amet consectetur. Diam
          quam nulla porttitor massa id neque. Nunc sed augue lacus viverra.
          Urna condimentum mattis pellentesque id nibh tortor id aliquet.
          Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel.
        </a>
      </div>
      <div class="SecondaryContainerPadding">
        <div class="Title">
          <h1 class="about">How To Contact Us</h1>
        </div>
        <div class="ContainerPadding">
          <div class="ParagraphContainer">
            <a
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc
              pulvinar sapien et ligula ullamcorper malesuada proin libero.
              Malesuada pellentesque elit eget gravida cum sociis natoque
              penatibus et. Eleifend quam adipiscing vitae proin sagittis nisl.
              Penatibus et magnis dis parturient montes. Et ligula ullamcorper
              malesuada proin libero nunc consequat interdum varius. Elementum
              integer enim neque volutpat ac tincidunt. Neque viverra justo nec
              ultrices dui. Urna cursus eget nunc scelerisque viverra. Elit ut
              aliquam purus sit amet luctus. Interdum posuere lorem ipsum dolor
              sit amet consectetur.
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="FooterContainer"></div>
  </body>
</html>