<!DOCTYPE html>
<html lang="en">
<head>
    <title>GameMatcher</title>
    <!-- CSS only -->
    <script src="https://kit.fontawesome.com/512b61f13b.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz/css/stylesheet.css' %}" />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
<body>
<h2>What kind of gamer are you?</h2>
<p> GameMatcher uses a test with the Gamer DNA Model that is used with machine learning to connect players with the games they will enjoy playing with most.</p>
<a href=""><b>Start test</b></a>

        <!-- django stuff here -->
        {% if latest_question_list %}
            <form action="" class="test-form">
                {% for question in latest_question_list %}
                    <div class="question">
                        <p href="/quiz/{{ question.id }}/">{{ question.question_text }}</p>
                        <input name="question-{{ forloop.counter }}" type="text">
                        <a class="prev button" onclick="plusSlides(-1)">Go Back</a>
                        {% if forloop.last %}
                            <input class="submit button" type="submit">Submit</input>
                        {% else %}
                            <a class="next button" onclick="plusSlides(1)">Next</a>
                        {% endif %}
                    </div>

                {% endfor %}
            </form>
        {% else %}
            <p>No questions are available.</p>
        {% endif %}

    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'quiz/js/main.js' %}"></script>
</body>
</html>