<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamer Test</title>
</head>
<body>
<h2>What kind of gamer are you?</h2>
<p> GameMatcher uses a test with the Gamer DNA Model that is used with machine learning to connect players with the games they will enjoy playing with most.</p>
<a href=""><b>Start test</b></a>

        <!-- django stuff here -->
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
                <li><a href="/quiz/{{ question.id }}/">{{ question.question_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No questions are available.</p>
        {% endif %}
</body>
</html>