<!DOCTYPE html>
<html>
  <head>
    <title>GameMatcherLogin</title>
    <!-- CSS only -->
    <script
      src="https://kit.fontawesome.com/512b61f13b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="stylesheet.css" />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="FlexBodyContainer">
      <div id="NavContainer">
        <div id="NavBar">
          <a class="Nav">Games</a>
          <a class="Nav">Test</a>
          <div class="LogoName">
            <h1 class="Logo"><a href="Index.html">GameMatcher</a></h1>
          </div>
          <a class="Nav" href="About.html">About Us</a>
          <a class="Nav">Login/SignUp</a>
        </div>
      </div>
    </div>

    <div class="BodyContainer">
      <div class="ContainerPadding">
        <div id="loginContainer">
          <div class="LoginTitles">
            <label for="Email" class="LabelNames">Email: </label><br />
            <div class="Form"><input type="text" id="FirstName" /><br /></div>
          </div>
          <div class="LoginTitles">
            <label for="Password" class="LabelNames">Password: </label><br />
            <div class="Form"><input type="text" id="LastName" /><br /></div>
            <div class="Button">
              <button id="LOGIN"><a href="UsersMenu.html">Login</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="FooterContainer"></div>
  </body>
</html>