{% extends "quiz/base.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static 'quiz/js/matcher.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
Your matches
{% endblock title %}

{% block content %}
<button type="button" id="home-button" class="btn btn-dark">go home</button>
<div class="h1">GameMatcher</div>
<hr>
<h3>Check out these games based on your results</h3>
<br>
    <table>
        <tr>
            <th>Field 1</th>
            <th>Field N</th>
        </tr>
        {% for obj in obj_list %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.year }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}