{% extends "quiz/base.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static 'quiz/js/quiz.js' %}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock scripts %}

{% block title %}
{{obj.name}}
{% endblock title %}

{% block content %}
{{obj.name}}

<form id="quiz-form" class="mt-3 mb-3">
  {% csrf_token %}
  <div id="quiz-box"></div>
  <button type="submit" class="btn btn-primary mt-3">save</button>
</form>

<div>
  <canvas id="scoreChart"></canvas>
</div>
{% endblock content %}